ul li {
	list-style:none;
}

.navigation {
	position: fixed;
	top:20%;
	width: 100%;
	z-index: 1;
	padding: 0 20px;
}
.navigation ul {
	padding: 0;
}
.navigation li {
	margin-bottom: 15px;
}

.navigation a {
	display: inline-block;
	width: 60px;
	height: 60px;
	color: #464646;
	border-radius: 100%;
	border: 1px solid #464646;
	text-align: center;	
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.navigation a i {
	line-height: 60px;
	font-size: 25px;
	font-weight: lighter;
	vertical-align: middle;
}

.navigation a:hover {
	color: #c90000;
	border-color: #c90000;
}

.section {
	text-align: center;
}

.section img {
	display: inline-block;
}

.first {
	background-image: url('../img/a.jpg');
}
.fp-slidesNav ul li a span {
	background-color: #fff;
}
@media screen and (max-width: 900px) {
	.navigation {
		text-align: center;
		top: 20px;
	}
	.navigation ul {
		float: none!important;
	}
	.navigation li {
		display: inline-block;
	}
	.navigation a {
		width: 50px;
		height: 50px;
	}
	.navigation a i {
		line-height: 50px;
		font-size: 21px;
	}
}