* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
}



.logo {
  display: inline-block;
}

.blocks {
  display: inline-block;
  margin-top: 107px;
}

.blocks li {
  list-style:none;
  margin-bottom: 20px;
  width: 100%;
  background-color: #CDCDCD;
}

.blocks li a {
  display: inline-block;
  padding: 15px;
  width: 100%;
  height: 100%;
  line-height: 4px;
}

.animated {
  -webkit-transition: all 500ms ease-out .1s;
  -moz-transition: all 500ms ease-out .1s;
  -o-transition: all 500ms ease-out .1s;
  transition: all 500ms ease-out .1s;
}

.nav-col {
  position: fixed;
  backface-visibility: hidden;
  right: 0;
  top: 0;
  z-index: 99999999999999999999999999999999;
  margin-right: 20px;
}

.cmn-toggle-switch {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 54px;
  height: 48px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.cmn-toggle-switch:focus {
  outline: none;
}

.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 23px;
  left: 10px;
  right: 10px;
  height: 3px;
  background: white;
}

.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: "";
}

.cmn-toggle-switch span::before {
  top: -10px;
}

.cmn-toggle-switch span::after {
  bottom: -10px;
}

.cmn-toggle-switch__htx {
  background-color: #464646;
}

.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
  transition: background 0 0.3s;
}

.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
  transition-delay: 0.3s, 0;
}

.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}

.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}
/* active state, i.e. menu open */

.cmn-toggle-switch__htx.active {
  background-color: #cb0032;
}

.cmn-toggle-switch__htx.active span {
  background: none;
}

.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
  transition-delay: 0, 0.3s;
}
/*******/

nav {
  position: fixed;
  width: 100vw;
  background-color: #1d1d1d;
  display: block;
  color: white;
  position: fixed;
  top: 0;
  z-index: 10;
  height: 0px;
  -webkit-transition: background 0.5s 0.7s, height 0.5s 0.7s;
  -moz-transition: background 0.5s 0.7s, height 0.5s 0.7s;
  transition: background 0.5s 0.7s, height 0.5s 0.7s;
}

nav.active {
  background: #040404 !important;
  color: #fff;
  height: 50px;
  opacity: 0.5;
  -webkit-transition: background 0.5s, height 0.2s;
  -moz-transition: background 0.5s, height 0.2s;
  transition: background 0.5s, height 0.2s;
}

nav ul li {
  opacity: 0;
  top: -15px;
  -webkit-transition: opacity 0.5s, top 0.5s;
  -moz-transition: opacity 0.5s, top 0.5s;
  transition: opacity 0.5s, top 0.5s;
}

nav.active ul li {
  opacity: 1;
  top: 0;
}


nav.active nav ul > li:nth-child(0) {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}

nav.active nav ul > li:nth-child(1) {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

nav.active nav ul > li:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

nav.active nav ul > li:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

nav.active nav ul > li:nth-child(4) {
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

nav.active nav ul > li:nth-child(5) {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

nav.active nav ul > li:nth-child(6) {
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

nav ul li {
  margin: 0;
  list-style: none;
  float: left;
  padding: 10px 20px
}


.red { 
  background-color: #c90000; 
  background-size: cover;
      }

.wrapper-image {
  background-image: url('../img/1.png');
  background-position: center;
  background-size: cover;
  height: 900px;
      }

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #464646;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


@media screen and (max-width: 1280px) {
  .wrapper-image {
    background-image: url(../img/2.png);
  }
}