body{
    font-family: 'Source Sans Pro', sans-serif;
    text-align:center;

    margin:0;


}
.itemslide-active{
    border-radius: 0;
}
ul li{
    border-radius: 0;
}
/*Header*/
header{
    width:100vw;
    position:fixed;
    left:0;
    height: 9.5vh;
    background-color: #FF3333;

    color:#FFF;
}

#headertext
{
    /*position:absolute;*/
    float:left;

    margin-top:0.35vh;
    font-size:6.5vh;
    margin-left:1.5vw;
    font-weight: 300;
}


table /*overide defaults*/
{
    border-collapse: collapse;
	border-spacing: 0;
}

#buttons-menu {
    margin-left:225px;
    margin-top:2.8vh;
}


#buttons-menu a {
    color:#FFF;
    text-decoration: none;
}


#buttons-menu td {
    font-weight: 300;
    font-size:3.5vh;/*Buttons font size*/

    text-align: center;
    padding-left:2.8vw;
}



#downloadarea{


    position:absolute;
    top:2vh;
    right:2vw;
    font-weight: 200;
    font-size:4.9vh;
    line-height: 6vh;

}

@media (max-aspect-ratio: 16/9) {/*cool*/
    #downloadarea {
    display: none;
    }

    #main-img{
    display:none;
    }

    #fotter a {
        background: none !important;
    }
}

#download{
    color:#FFF;

    font-weight: 600;
    text-decoration: none;
}

/* Welcome */

#welcome
{
    position:fixed;
    top:9.5vh;
    height:48.5vh;
    width:100vw;
    background-color:#FF4D4D;

    font-size:8vh;
    color:#FFF;
}

#welcome #main-img
{
    position:absolute;
    top:-6.5vh;
    right:16vw;
    width:53vh;
    height:53vh;
}

#welcome .content
{
    position:relative;
    top:8vh;
}

#welcome .content #maintitle
{
    font-weight: 300;
}


/* the fullscreen example link */
#welcome #example-link a {
    color: white;
    position: relative;
    top: 2vh;
    font-weight: 200;
    text-decoration: none;
    font-size: 5vh;

    background-image: linear-gradient(to bottom, white, white); /*mimic underline (enables thinner underline)*/
    background-size: 2px 0.2vmin;
    background-position: 0 5.57vh; /*considering font size is 2.5*/
    background-repeat: repeat-x;
}

#welcome .menu a
{
    position: relative;
    top:5.5vh;

    border-radius: 2vh;
    -webkit-border-radius: 2vh;
    -o-border-radius: 2vh;
    -moz-border-radius: 2vh;

    padding: 1.3vh 2.5vh 1.3vh 2.5vh;

    border-style: solid;
    border-width: 1.5px;
    border-color: #FFF;

    /*border-style: solid;
    border-width: 4px;
    border-color: grey;*/

    text-decoration: none;
    /*padding:2vh;*/
    font-weight: 300;
    color:#FFF;
    font-size:3.1vh;
    transition: background-color 0.25s;
}

#welcome .menu a:hover
{
    background-color: #FF7676;
}

/* Until Here Welcome */

#fotter
{

    position:fixed;
    font-size:2.5vh;
    bottom:0%;
    padding: 0.5vh;
    background-color: #8E0C0C;
    font-weight: 200;
    color:white;
    right:0;left:0;

}

#fotter .hrefs {
    color: #FFF;
    font-weight: 400;
    text-decoration: none;


    background-image: linear-gradient(to bottom, white, white); /*mimic underline (enables thinner underline)*/
    background-size: 2px 0.2vmin;
    background-position: 0 2.86vh; /*considering font size is 2.5*/
    background-repeat: repeat-x;
}

/* fotter buttons */
#links {
    position: absolute;
    left:1vw;
    top:1vmin;

}
#twitterwrap {
    position:absolute;
    left:100px;
    bottom:0%;
}

/* stars button and twitter share */
@media (max-aspect-ratio: 16/9), (max-width: 1200px), (max-height: 800px) {
    #links {
        display:none;
    }
}
