/* Add to docs */
#scrolling{/*frame*/
    position:fixed;
    top:30%;
    height:55%;
    width:100%;

    overflow: hidden;
}

ul {
    /*Add if you want to disable the option of selecting the text while sliding*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    margin: 0;
    padding: 0;
    position: absolute;
    /*top:10%;*/
    margin-top:4vh;
    height:80%;

    list-style-type: none;

    -webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

li {

    font-size:8vmin;/*cool*/
    float: left;

    min-width: 250px;
    height: 100%;
    color: #000;
    font-weight: 300;
    text-align: center;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;
    -moz-border-radius: 30px;
    cursor: pointer;

    -webkit-transform:  scale(0.95);
    -ms-transform:  scale(0.95);
    -moz-transform:  scale(0.95);
    transform: scale(0.95);
}

.itemslide-active
{/*applied to current active item*/
    -webkit-transform:  scale(1);
    -ms-transform:  scale(1);
    -moz-transform:  scale(1);
    transform: scale(1);
}
 ul.scroll li{

    margin-right: 15px;
 }

  ul.scroll li.text{
    height: 20%;
   background: #bbb;
   padding: 15px;
   color: white;
   font-size: 19px;
   position: relative;
   top: 25%;
   margin-right: 200px;

 }

 ul.scroll{
    position: absolute;
    left: 40%;
 }
ul.scroll li:before{
    content: "";
    display: block;
    width: 100%;
    height: 25px;
    overflow: hidden;
    background-image: url(../img/website-header-buttons.jpg),url(../img/website-header-gradient.jpg);
    background-repeat: no-repeat,repeat-x;
    opacity: 0.9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;


}

ul.scroll li.text:before{
    content: none;

 

}